<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.kit.ipd.sdq.pcm.simulation.scheduler.bpfcfs"
         name="Business Process FCFS Scheduler"
         point="de.uka.ipd.sdq.scheduler">
      <scheduler
            class="edu.kit.ipd.sdq.pcm.simulation.bpscheduler.BusinessProcessSchedulerFactory">
      </scheduler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BUSINESS_PROCESS_SCHEDULER_MODELS/"
            target="platform:/plugin/edu.kit.ipd.sdq.pcm.simulation.bpscheduler/models/">
      </mapping>
   </extension>

</plugin>
