<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://sdq.ipd.uka.de/PalladioComponentModel/5.0/bp/bpUsageModel"
            class="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.provider.BpusagemodelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://sdq.ipd.uka.de/PalladioComponentModel/UsageModel/5.0"
            class="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.provider.BpusagemodelItemProviderAdapterFactory$UsagemodelChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://sdq.ipd.uka.de/PalladioComponentModel/5.0/bp/OrganizationEnvironmentModel"
            class="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.provider.OrganizationenvironmentmodelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
